.body {
    display: flex;
    flex-direction: column;
    font-family:cursive;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .body__image {
        z-index: -1;
    }

    .nav__links {
        display: flex;
        flex-direction: row;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        justify-content: end;
    }

    .nav__links__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px;
        margin-left: 40px;

        &:hover {
            color: darkgreen;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: darkgreen 0px 2px;
        }
    }

    .nav__links__container__text {
        margin-left: 10px;
    }

}