.cars {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    .body__image {
      z-index: -1;
    }
  
    .nav__links {
      display: flex;
      flex-direction: row;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      justify-content: end;
  
      .search__bar .select__brands {
        justify-content: end;
        margin-right: 850px;
        margin-top: 40px;
      }
  
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  
    .nav__links__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 20px;
      margin-left: 40px;
  
      &:hover {
        color: darkgreen;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: darkgreen 0px 2px;
      }
    }
  
    .nav__links__container__text {
      margin-left: 10px;
    }
  
    .body__container {
      display: grid;
      grid-template-columns: 1fr 2fr;
  
      .body__container__list {
  
        h1 {
          font-size: 30px;
          margin-bottom: 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
          border-radius: 10px;
          background-color: #a8a806;
          padding: 10px;
        }
      }
      .body__container__cars {
        display: flex;
        flex-direction: column;
  
        .body__container__cars__card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background-color: #ffffff;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          transition: 0.3s;
          margin: 10px;
  
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          }
  
          .body__container__cars__card__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            font-family: 'Times New Roman', Times, serif;

            h2 {
              font-size: 20px;
              margin: 1px;
              color: black;
            }
          }
        }
      }

      .selected__car {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        transition: 0.3s;
        margin: 10px;
        color: black;

        .selected__car__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px;
          font-family: 'Times New Roman', Times, serif;

          h2 {
            font-size: 20px;
            margin: 1px;
            color: black;
          }
        }
        .buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 10px;
  
          button {
            margin: 10px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 10px;
            background-color: #000000;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1.75);
            transition: 0.3s;
            color: #ffffff;
  
            &:hover {
              transform: scale(1.4);
              cursor: pointer;
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            }
          }
        }
      }
    }
  }
  