.dealerships {
  display: flex;
  flex-direction: column;
  font-family: cursive;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .body__image {
    z-index: -1;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    justify-content: end;

    .search__bar .select__brands {
      justify-content: end;
      margin-right: 850px;
      margin-top: 40px;
    }

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .nav__links__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-left: 40px;

    &:hover {
      color: darkgreen;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: darkgreen 0px 2px;
    }
  }

  .nav__links__container__text {
    margin-left: 10px;
  }

  .body__container {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .body__container__text {
      h1 {
        font-size: 40px;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 20px;
        margin-bottom: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
        border-radius: 10px;
        background-color: #a8a806;
        padding: 10px;
      }

      .body__container__add__dealer {

        button {
          border-radius: 10px;
          border: none;
          box-shadow: darkgreen 0px 2px;
          margin-top: 10px;
          padding-left: 10px;
          background-color: darkgreen;
          color: #ffffff;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          font-size: 15px;
          font-weight: bold;

          &:hover {
            color: darkgreen;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: darkgreen 0px 2px;
            background-color: #ffffff;
          }
        }
      }
    }
    .body__container__dealerships {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;

      .body__container__dealerships__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        transition: 0.3s;
        margin: 10px;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          cursor: pointer;
        }

        .body__container__dealerships__card__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px;
          font-family: "Times New Roman", Times, serif;

          h2 {
            font-size: 20px;
            margin: 15px;
            color: black;
          }
        }
      }
    }
    .selected__dealership {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      transition: 0.3s;
      margin: 10px;
      color: black;

      .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10px;

        button {
          margin: 10px;
          margin-left: 20px;
          margin-right: 20px;
          border-radius: 10px;
          background-color: #000000;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1.75);
          transition: 0.3s;
          color: #ffffff;

          &:hover {
            transform: scale(1.4);
            cursor: pointer;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }
}
