.header {
  display: flex;
  flex-direction: row;
  background-color: #14471E;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1.75);

  .logo {
    margin-top: 30px;
    margin-right: 70px;
    align-items: center;
  }

  .header_tag {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

    .header_tag h1 {
        font-size: 40px;
        margin-bottom: 0px;
        font-weight:lighter
    }

    .header_tag p {
        font-size: 15px;
        margin-top: 0px;
        font-style: italic;
        font-weight: lighter;
    }
}
